<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Art. 03 -iwv</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Cabin|Josefin+Sans:400,700'>
  
  <link rel="stylesheet" type="text/css" href="static/css/style.css"> 
</head>

<body>
 <!-- header -->
<div class="page">
  <div class="page-title">
    <p style="text-indent: 0pt;text-align: left;"><br/></p>
    <p class="s1" style="text-indent: 0pt;text-align: center;">La Galeria, tienda virtual</p>
    <p class="s1" style="text-indent: 0pt;text-align: center;">Café del Valle</p>
  </div>
  <ul class="page-nav">
    <a href="/" class="page-nav-link" >Inicio La Galeria</a> 
    
    <li><a href="/s01a02" class="page-nav-link2" >Quiosco siguiente </a>  </li>

  </ul>
  
  <div class="ie-separator" role="presentation"></div>
  
  <div class="article-meta">
    <div class="article-meta-author-portrait">
      <img src="./static/img/cafelogo.png" alt="Article Author David profile picture" />
    </div>
    <div class="article-meta-author">Quiosco administrado por Café del valle</div>
    <div class="article-meta-date">Julio, 2022</div>
  </div>
 <!-- body article --> 
 

<section>
  <div class="column col-md-4 mb-3">
    <div class="card">
        <img class="img-fluid" alt="100%x280" src="static/img/cafe.jpg">
        <div class="card-body">
            <h4 class="card-title" class="nav-link" href="/s01a01">Café del valle.</h4>
            <p class="card-text">café de la región del valle del cauca, procesado en origen.</p>
            <form method="get" action="/s01a01">
              <button class="btn btn-info"> añadir al carrito. </button>
            </form>   
         </div>

    </div>
</div>
</section>
 



 <!--*****************************-->
     <div class="article-quote">"El café del valle es un producto orgánico de origen artesanal, con trazabilidad garantizada por estándares de calidad ISO"</div>
      <div class="article-footer">
        <div>(c) 2022, Derechos de autor y propiedad intelectual</div>
      </div>
    </div>
  
  <div class="footer">
      <div class="footer-about">
        <h5>Sobre nosotros</h5>
        <p>La galeria , es una plataforma para la venta de productos orgánicos y artesanales de origen colombiano.</p>
      </div>
       <div class="footer-contact">
        <h5>Contacto</h5>
        <p>iwdelvalle@gmail.com</p>
         <p>España</p>
        <p>Toledo, España</p>
         </div>
        <div class="footer-logos">
         <img src="static/img/logo.png" />
  
 </div>
 </div>
 <!-- partial -->

</body>
</html>
